html, body, .left, .container, .container-fluid {
    height: 100%;
}

html, body {
    overflow-y: hidden;
}

.row {
    height: 100%;
}

form { 
    display: inline; 
}

.displayFlex {
    display:flex;
    flex-direction:row;
}

#map {
    width: 100%;
    max-width: 100% !important;
}