html, body, .left, .container, .container-fluid {
    height: 100%;
}

// html, body {
//     overflow-y: hidden;
// }

.row {
    height: 100%;
}

form { 
    display: inline; 
}

.displayFlex {
    display:flex;
    flex-direction:row;
}

#map {
    width: 100%;
    max-width: 100% !important;
}

.full-height {
    height:calc(100vh - 42px);
    position: relative;
    padding-left: 0;
    padding-right: 0;
}