.midPanel {
    height: calc(98% - 2.5rem);
    top: calc(1% + 2.5rem);
    left: 25%;
    padding: 0;
    border-right: 1px solid gray;
    position: absolute;
    overflow: hidden;

    .imageError {
        text-align: center;
    }

    .leaflet-container {
        background-color: white;
        height: 90%;
    }

    .leaflet-control-container {
        display: none;
    }

    .leaflet-draw-tooltip {
        display: none;
    }
}


