celery
channels
channels-redis
coverage
cryptography
dj-database-url
Django
django-background-tasks
django-debug-toolbar
django-debug-toolbar-request-history
django-extensions
django-import-export
django-js-reverse
django-log-request-id
django-model-utils
django-naomi
django-nose
django-redis
django-webpack-loader
djangorestframework
ExifRead
Fiona
geopy
gunicorn
lxml
model_mommy
networkx
nose
numpy
Pillow
preconditions
psycopg2-binary
pylint
pylint-celery
pylint-django
python-decouple
requests
Shapely
utm
watchdog
webp
whitenoise
