.rightPanel {
    height: calc(98% - 2.5rem);
    top: calc(1% + 2.5rem);
    left: 75%;
    position: absolute;

    .btn {
        border-radius: 0 !important;
    }

    .btn:focus {
        box-shadow: none !important;
    }

    .objectList {
        margin-top: 1%;
        width: 100%;
        max-height: calc(99% - 2.25rem);
        overflow-x: hidden;
        overflow-y: auto;
        background-color: darkgray;
        position: relative;

        .objectListItem {
            margin-top: 1px !important;
            white-space: normal;
            position: relative;
            width: 100%;

            .objectImage {
                width: 50%;
                margin-right: auto;
                margin-left: 0px;
                float: left;
                position: relative;

                img {
                    max-width: 100%;
                    max-height: 5rem;
                }
            }
    
            .objectName {
                width: 50%;
                text-align: center;
                float: right;
            }
            
        }
    }
}
