input:invalid {
    outline: 2px solid red;
}

.objectSection {
    height: 98%;
    display: none;
    text-align: left;
    overflow: auto;

    input {
        width: 100%;
    }

    textarea {
        width: 100%;
        resize: none;
    }

    $divider-width: 2px;
    .objectDelete, .objectCancel, .objectOrientationRel {
        margin-top: $divider-width * 2;
        width: calc(50% - #{$divider-width});
        margin-right: $divider-width;
    }

    .objectClear, .objectSave, .objectOrientationAbs {
        margin-top: $divider-width * 2;
        width: calc(50% - #{$divider-width});
        margin-left: $divider-width;
    }

    .proximityWarning {
        border: 1px solid lightgray;
        margin: 1rem 0 1rem;
    }
    .hidden {
        display: none;
    }

    .orientation {
        height: 50px;
        margin: 10px 0 10px;

        .knob {
            float: left;
            margin: 0 10px;
        }

        .objectOrientationAbs {
            height: 42px;
            width: calc(100% - 84px);
        }
    }
}
