$btn-height: 2.25rem;

.imageSection {
    height: 98%;
    position: relative;

    input:focus {
        outline: none;
    }

    .imagesList {
        height: 70%;
        overflow-y: auto;
        overflow-x: hidden;

        input[type="checkbox"] {
            transform: scale(2) translateY(10%);
            float: right;
        }
    
        .btn {
            margin-top: 0px !important;
            white-space: normal;
        }
    
        .btn-processed {
            opacity: 0.5;
        }
    
        .imageSaveCheckBox {
            position: relative;
        }
    
        .imageListItem {
            margin-top: 1px !important;
        }
    }

    .sliders {
        padding: 0 5px 5px;
        margin: 5px;

        input[type=range] {
            appearance: none;
            background: lightgray;
            outline: none;
            border: none;
            height: 10px;
        }

        input[type=range]::-moz-focus-outer {
            border: 0;
        }

        input[type=range]::-moz-range-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: gray;
            cursor: pointer;
        }
        
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: gray;
            cursor: pointer;
        }

        .btn {
            margin-top: 5px;
            border-radius: 5px !important;
        }
    }
}