.bottomPanel {
    height: 30%;

    .sectionTitle {
        font-size: 19px;
        padding: 5px;
        background-color: rgb(148, 148, 148);
        color: white;
        font-style: bold;
        align-content: center;
    }

    .controls {
        position: relative;
        padding-top: 10px;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 10px;

        .divider{
            width:5px;
            height:auto;
            display:inline-block;
        }

        .Dropdown-control {
            min-width: 100px;
            min-height: 40px;
            border-radius: 0;
            margin: 0;
            padding: 5px 5px 5px 5px;
        }

        .mission-select {
            width: 40%;
        }

        .btn-refresh {
            width: 15%;
        }

        .btn-apply {
            width: 22.5%;
        }

        .btn-undo {
            width: 22.5%;
        }

        button {
            padding: 7px;
        }

        input {
            padding: 7px;
        }
    }
    
    .displayWaypointTable {
        padding-left: 10px;
        padding-right: 0;
        padding-top: 10px;
        width: calc(100% - 300px);
        min-width: calc(100% - 300px);

        .table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
            padding: 5px;
        }

        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
        
        tbody {
            display: block;
            max-height: 120px;
            overflow-x: hidden;
            overflow-y: scroll;
        }
        
        td {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    input[type="text"] {
        width: 100%;
    }
}